

.bar{
   
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    background-color: #030852;
    text-align: center;
    color: white;
    padding: 14px 16px;
   font-weight: bolder;
    display: block;
    font-size: 20px;
}

.bar>div{
   
   
    color: white;
    text-align: center;
    
}




.logo{
    font-size: 20px;
}
.logout{
    position: sticky;
    float: right;
}